@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
$title-color: #757575;
$main-color: #01579b;
$accent-color: #5eb8ff;
$margin-left: 15%;
$margin-bottom: 1em;
$line-height: 1.3;
$icon-size: 1.5em;

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

// strong {
//     color: $main-color;
// }

table {
    width: 100%;
}

h1 {
    font-size: 55px;
    color: $title-color;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    color: $main-color;
}

h2:before {
    content: "";
    display: inline-block;
    margin-right: 1%;
    width: $margin-left - 1;
    height: 10px;
    background-color: $accent-color;
}

dl {
    line-height: $line-height;
}

dt {
    float: left;
    clear: left;
    width: $margin-left - 2;
    text-align: right;
    color: $main-color;
}

dd {
    margin-left: $margin-left;
    margin-bottom: $margin-bottom;
}

p {
    margin-top: 0;
    margin-bottom: 7px;
}

#refs p {
    margin-left: $margin-left;
    margin-bottom: $margin-bottom;
    line-height: $line-height;
}

blockquote {
    text-align: center;
}

a {
    text-decoration: none;
    color: $main-color;
}

hr {
    color: adjust-color($title-color, $lightness: 50%);
}

.fa {
    font-size: $icon-size;
    color: $main-color;
    margin-top: -$icon-size * 0.5;
}
